@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Contact"];
}
<h2>@ViewData["Title"]</h2>

<address>
    Benas Budrys<br />
    @Localizer["Phone"]:
    +370 627 28269
</address>

<address>
    <strong>@Localizer["Support"]:</strong> <a href="mailto:bud.benas@gmail.com">bud.benas@gmail.com</a><br />
</address>
