@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<h1>@Localizer["Hello"]</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit finibus dui, vitae lacinia turpis tincidunt non. Mauris finibus semper felis non vehicula. In in urna aliquam, facilisis nisi vel, ultricies tortor. Aliquam imperdiet est nec magna semper, at mattis libero pellentesque. Suspendisse convallis commodo odio. Phasellus porta fringilla nisi, facilisis ullamcorper mauris euismod quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper quam vel augue gravida, sit amet tincidunt arcu tincidunt. Duis ac leo at elit sollicitudin pellentesque et at erat. Nunc non mollis nunc. Aliquam erat volutpat. Curabitur eu neque massa. Cras sed enim diam. Maecenas dui nulla, faucibus eu felis scelerisque, interdum posuere ex. Nunc feugiat risus turpis, non molestie dui volutpat sollicitudin.</p>
