@using PUTSWeb.Helpers
<link rel="stylesheet" href="~/css/blog.css" />

@model Blog

<h2>@Model.Title</h2>
<h5>@Model.Author</h5>
<h5>@Model.AddedDate.ToShortDateString()</h5>

@Markdown.ParseHtmlString(Model.Text)