textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.test-case, .example-case{
    background-color:rgb(250,250,250);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border-color: lightgray;
    border-width: 2px;
    border-style: double;
}

form h4{
    font-weight: bold;
    display: inline;
}

form .btn-danger{
    float: right;
}

.explanation
{
    display: inline;
}