<environment include="Development">
    <link rel="stylesheet" href="~/css/load.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Processing"];
}
@section Scripts{
<script src="~/js/load.js"></script>
}
<h3>@Localizer["Please wait"]</h3>

<h4>@Localizer["Do not refresh the page or exit it"]</h4>
<div class="loader-wrapper">
    <div class="loader"></div>
</div>