h1 {
    display: inline;
}

#Title .btn-success, form {
    float: right;
    margin-left: 5px;
}

table .btn-group {
    float: right;
}

#Title {
    margin-top: 30px;
    margin-bottom: 10px;
}

#deletionModalLabel
{
    display: inline;
}

.modal-footer form {
    display: inline;
}

.centered-text {
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table thead tr th a:hover, a:focus{
    text-decoration: none !important;
    color: dimgray;
}

.table thead tr th a{
    color:initial;
}

.table tbody tr {
    height: 55px;
}