h1 {
    display: inline;
}

.btn-success {
    float: right;
}

table .btn-group {
    float: right;
}

#Title {
    margin-top: 30px;
    margin-bottom: 10px;
}

#deletionModalLabel
{
    display: inline;
}

.modal-footer form {
    display: inline;
}

.id {
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
}