h1 {
    display: inline;
}

.btn-success {
    float: right;
}

.btn-group {
    float: right;
}

#Title {
    margin-top: 30px;
    margin-bottom: 10px;
}

#deletionModalLabel
{
    display: inline;
}

.modal-footer form {
    display: inline;
}