body {
    padding-top: 50px;
    padding-bottom: 20px;
}

nav {
    padding-right: 20px;
}

.navbar {
    background-color: rgb(51,51,51);
    border:none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
